{% extends 'base.html' %}

{% block content %}
<section class="py-12 px-4 text-gray-700">
    <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold text-center mb-4">Privacy Policy</h1>

        <p class="mb-4">Effective date: 2023-12-04</p>

        <h2 class="text-xl font-semibold mb-2">1. Introduction</h2>
        <p class="mb-4">We are committed to safeguarding the privacy of our website users. In this policy, "we", "us" and "our" refer to Biagio Distefano.</p>

        <h2 class="text-xl font-semibold mb-2">2. Data Controller</h2>
        <p class="mb-4">The data controller responsible for your personal data is Biagio Distefano. For any privacy-related questions, you can reach me at <a href="mailto:me+slr@biagiodistefano.io">me+slr@biagiodistefano.io</a>.</p>

        <h2 class="text-xl font-semibold mb-2">3. How We Use Your Personal Data</h2>
        <p class="mb-4">We process your personal data to operate, provide, and improve the services we offer. This includes:</p>
        <ul class="list-disc pl-5 mb-4">
            <li>Managing and organizing events or parties;</li>
            <li>Handling user allergies and preferences;</li>
            <li>Ensuring the security of our services;</li>
        </ul>

        <h2 class="text-xl font-semibold mb-2">4. Confidentiality and Security</h2>
        <p class="mb-4">Your personal data is not shared with third parties, nor is it used for any purposes other than those outlined above. We ensure the confidentiality and security of your data and do not allow other users to access your information.</p>

        <h2 class="text-xl font-semibold mb-2">5. Your Rights</h2>
        <p class="mb-4">You have the right to access the personal data we hold about you, to request that we rectify or erase your personal data, and to request that we restrict the processing of your personal data. For any such requests, please contact us at the details provided above.</p>

        <h2 class="text-xl font-semibold mb-2">6. Amendments</h2>
        <p class="mb-4">We may update this policy from time to time by publishing a new version on our website. You should check this page occasionally to ensure you are happy with any changes to this policy.</p>

        <h2 class="text-xl font-semibold mb-2">7. Our Details</h2>
        <p class="mb-4">This website is owned and operated by Biagio Distefano. You can contact us via email at <a href="mailto:me+slr@biagiodistefano.io">me+slr@biagiodistefano.io</a>.</p>
    </div>
</section>
{% endblock %}
