<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Sins, Love and Rainbows{% endblock %}</title>
    {% block head %}
        <!-- Base template styles (if any) go here -->
    {% endblock %}

</head>
<body class="bg-gray-100">
{% if request.user.is_staff %}
    <div class="bg-red-500 text-white text-center py-2">
        <p>You are logged in as an admin.
            <a href="{% url 'admin:index' %}" class="text-blue-600 hover:text-blue-800">Go to admin panel</a>
        </p>
    </div>
{% endif %}
{% block content %}
    <!-- Main content will go here -->
{% endblock %}

<!-- Footer can be added here if needed -->
{% block scripts %}
    <!-- Base template scripts (if any) go here -->
{% endblock %}
</body>
</html>
