#/etc/systemd/system/sinsloveandrainbows.service
[Unit]
Description=gunicorn daemon for slr
Requires=sinsloveandrainbows.socket
After=network.target

[Service]
User=#USER
Group=www-data
WorkingDirectory=#PROJECT_ROOT
ExecStart=#PROJECT_ROOT/venv/bin/gunicorn \
          --access-logfile - \
          --workers 1 \
          --bind unix:/run/sinsloveandrainbows.sock \
          sinsloveandrainbows.wsgi:application

[Install]
WantedBy=multi-user.target